.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  padding: 5px;
}
.product-right h3 {
  color: blue;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
}
.main-button {
  color: black;
  background-color: goldenrod;
  width: 120px;
  height: 30px;
  border: 1px solid darkgray;
  border-radius: 3px;
  cursor: pointer;
}
